body{
    background: #110f0f;
}

.loginForm-content {
display: inline-block;
align-items: center;
height: 20px;
width: 505px;
left: 468px;
margin-top: 50px;
margin-left: 40px;
margin-bottom: 0px;
border-radius: 8px;
text-align:left;

}
.btn_socials{
  display: flex;
  flex-direction: row;
  margin-top: 90px;
}
.login{
    margin-top: 70px;
    margin-bottom: 700px;
} 

.login-label{
height: 20px;
margin-left: 20px;
margin-right: 20px;
margin-top: calc(50% - 20px/2 - 30px);
font-family: Heebo;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 20px;
color: #131313;
} 

.login-input{
width: 445px;
height: 30px;
margin-right: 20px;
margin-left: 20px;
margin-top: 10px;
margin-bottom: 3%;
padding: 10px;
background: #EAEAEA;
border-radius: 8px;
border: none;
} 

::placeholder{
    height: 20px;
margin-left: 3%;
margin-right: 3%;
margin-top: calc(50% - 20px/2 - 30px);
font-family: Heebo;
font-style: normal;
font-size: 18px;
line-height: 23.5px;
color: #131313;

} 


 .login-input-btn{
width: 450px;
height: 50px;
margin-right: 200px;
margin-left: 30px;
margin-top: 3px;
padding-top: 15px;
padding-bottom: 15px;
background: #CEF9C6;
border-radius: 25px;
border: none;
font-family: Heebo;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 23.5px;
color: #131313;

}

.horizon1{
width: 90%;
margin-right: 150px;
margin-left: 20px;
height: 1px;
margin-top: 45px;
border-color: #ffffff;
}

.login-input-btn-social{
width: 250px;
/* height: 50px; */
margin-right: 3%;
margin-left: 4%;
margin-top: 20px;
margin-bottom: 4%;
padding-top: 15px;
padding-bottom: 15px;
background: #CEF9C6;
border-radius: 25px;
border: none;
font-family: Heebo;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 23.5px;
color: #131313;
}

.check{

    display: inline-block;
    transform: rotate(45deg);
    height: 27px;
    width: 12px;
    margin-left: 5%;
    margin-top: 10px;
    border-bottom:8px solid #FFC200;
    border-right:8px solid #FFC200;
    border-radius: 5px;
  }

  .check1{
    display: inline-block;
    width: 20px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    border:5px solid #FFC200;
    border-radius: 4px;

  }

  .message-error {
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Heebo;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: #cf0a0a;

  }

  .login-input-btn:hover, .login-input-btn-social:hover{
    background-color:#FFC200;
  }

.mess-age{
width: 445px;
height: 1px;
margin-right: 20px;
margin-left: 20px;
margin-bottom: 3%;
padding: 10px;
text-align: center;
  }


@media (max-width: 367px){
    .horizon1{
     width: 70%;
  }
}
