.Kanban_Container {
    width: 45%;
    max-height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin-left: 2%;
    border-radius: 8px;
  }
  
  .Kanban_top-most {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  
  .Kanban_add-task {
    border-radius: 20px;
    padding: 8px;
    background-color: #CEF9C6;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }

  .Kanban_Info-container{
      display: flex;
      justify-content: space-between;
    
      border-radius: 10px;
      height: 20%;
      width: 90%;
      margin: 0 auto;
      margin-top:1rem ;
      margin-bottom: 2rem;
    }
    .Kanban_Info_paragraph{
        font-weight: bold;
        margin: 0;
        margin-left: 10px;
    }
    
    .Kanban_Info_left{
        align-items: center;
        margin-top: 3rem;
    }
    .Kanban_Info_checkbox{
        width: 1.3rem;
        height: 1.3rem;
      
    }
    .Kanban_Info_right{
        display: flex;
        flex-direction: column;
       justify-content: center;
        width: 20rem;
        margin: 5px 5px;
}
    .Kanban_Info_bottom{
        display: flex;
        align-items: center;
        padding-left: 25px;
        margin-left: 10px;
    }
    
  .Kanban_Info_bottom-image{
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      border: 3px solid white;
    
     
  }

  .Kanban_Info_paragraph_container{
    display: flex;
    align-items: flex-start;
    margin: 10px 5px;
   
  }
  .Kanban_Info_bottom-content{
     padding: 0.3rem;
      font-weight: bold;
      border-radius: 1rem;
      background-color: pink;
      margin-left: 0.5rem;
      padding-left: 10px;
      padding-right: 10px;
  }