/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */
.ForgotPasswordReset_body{
    background-color: #eeebe5;
    height: 100vh;
    width: 100%;
}

.ForgotPasswordReset_container{
    max-width: 40.375rem;
    height:40.4375rem;
    background-color: #ffffff;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.ForgotPasswordReset_form{
    margin: 0 auto;
    width: 85%;
    height: 60%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.ForgotPasswordReset_form form{
    width:100%; 
    height: 100%;
    display: flex;
    flex-direction: column; 
    /* align-items: center; */
    justify-content: center;
} 

.ForgotPasswordReset_form-row{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.ForgotPasswordReset_form-row-label{
    font-weight: bold;
    font-size: 1.2rem;
}


.ForgotPasswordReset_form-row .ForgotPasswordReset_form-row-input {
    width: 100%;
    height: 40%;
    background-color:  #EAEAEA;
    border:none;
    border-radius:5px;
    font-size: 20px;
    
}


.ForgotPasswordReset_form .ForgotPasswordReset_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18%;
    width: 100%;
    background-color:#CEF9C6;
    border: 1px solid none;
    color: black;
    border-radius: 40px;
   
   
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
   
    

}


