.main-container-personal {
  /* border: 1px solid red; */
  background: #ffffff;
  width: 100%;
  height: 100vh;
  border-radius: 8px;
}
.first-division {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  border-bottom: 2px solid grey;
}
.avatar-personal {
  /* border-radius: 50%; */
  width: 120px;
  height: 120px;
  text-align: center;
}
.profile-pic-personal {
  border-radius: 50%;
  width: 100px;
  /* width: 120px;
  height: 120px; */
  /* padding-top: 50px; */
  margin-left: 10px;
  margin-right: 3px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  margin-top: 0;
}
.personal-details {
  margin-left: 30px;
  display: flex;
  padding-left: 10px;
  /* flex-direction: column; */
  /* border: 1px solid green; */
}
.name-container-personal {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  /* border: 1px solid black; */
}
.firstname {
  margin-left: 2.5px;
  margin-right: 2.5px;
}
.lastname {
  margin-left: 2.5px;
  margin-right: 2.5px;
}
/* .logo-picture {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: red;
} */

.sub-main {
  display: flex;
  justify-content: space-between;
}
.role-location-container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid blue; */
  padding-left: 10px;
}
.role-personal {
  margin-top: 0;
  margin-bottom: 2px;
}
.location-personal {
  margin-top: 5px;
  margin-bottom: 0;
}
.task-container-personal {
  display: flex;
  width: 100%;
  border-bottom: 2px solid grey;
}
.closed-task {
  flex: 1;
  padding-left: 50px;
}
.open-task {
  flex: 1;
  padding-right: 100px;
}

.first-division {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
}
.profile-pic {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  padding-top: 50px;
}
.personal-details {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.logo-picture {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  /* background-color: red; */
}
.logo-picture-personal {
  padding-right: 10px;
  width: 30px;
  height: 30px;
}

.sub-main {
  display: flex;
  justify-content: space-between;
}
.role-location-container {
  display: flex;
  flex-direction: column;
}
.task-container {
  display: flex;
  justify-content: space-between;
}
.closed-task {
  padding-left: 50px;
}
.open-task {
  padding-right: 100px;
}
.task-assigned-container {
  padding-left: 20px;
}
.number-of-task {
  display: flex;
  padding: 10px 0;
}
.assihned-task-personal {
  padding: 0 5px;
}
.number-task-personal {
  padding: 0 5px;
}
.task-details-personal {
  padding-right: 10px;
  margin-right: 10px;
}
.task-detail {
  padding: 20px 10px;
  background: #f7f6f3;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 500;
}

/* https://res.cloudinary.com/demo/image/twitter/1330457336.jpg */

/* https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50.jpg */