.main-container-team {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: #f7f6f3;
  margin: 7px 0;
  overflow-y: scroll;

  /* height: 10px; */
  /* height: fit-content; */
}
.name-role-container {
  /* margin-top: 20px; */
  margin-left: 10px;
}
.task-container {
  /* margin-top: 10px; */
  /* margin-right: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  /* border: 1px solid black; */
}
.image {
  margin-top: 10px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.first-sub-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0 10px;
  /* border: 1px solid black; */
}
