.main-container {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #f7f6f3;
  margin: 10px 0;
}
.name-role-container {
  margin-top: 20px;
  margin-left: 10px;
}
.task-container {
  margin-top: 30px;
  margin-right: 10px;
}
.image {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.task-container {
  float: right;
}

.first-sub-main {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
