body{
    background: #F2F2F2;
  }
  .signup-container{
    width: 35%;
    height: 690px;
    border-radius: 8px;
    background: #FFFFFF; 
    margin:  auto;
    margin-top: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:14px;
  }
  .body_info{
    display: flex;
    flex-direction: column;
    height: 2px;
    margin-top: 70px;
  }

  .form_input{
   
    padding: 10px;
    width: 83%;
    margin:auto;
    border-radius: 6px;
    border:none;
    background-color: rgba(234,234,234,1);
    padding: 15px;
  }
  .form_label{
    margin-left: 30px;
    margin-bottom:3px ;
  }

  .signup-button{
   margin-top: -80px;
     padding: 12px; 
    border-radius: 30px; 
    margin-left: 33px; 
    width: 87%; 
    background-color: #cef9c6;
    border: none;
    cursor: pointer;
  }
  .signup-button:hover{
    background-color: #b2f7a6;
  }
  .signup-button:click{
    background-color: #b2f7a6;
  }


  .signup-p{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .button-footer{
    align-items: center;
  }

  .signup-facebook{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    position: relative;
    top: 5px;
    left: 133px;
  }

  .signup-google{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    position: relative;
    top: 6px;
    left: 50px;
  }
  .button-footer a {
  text-decoration: none;
  margin-left: 15px;
  
  }

  .button-facebook{
    padding-top: 1px;
    height: 40px;
    margin-bottom: 50px;
    margin-left: 100px;
    width:30%;
    border-radius: 15px;
    background-color: white;
  }

  .button-google{
    align-items: center;
    margin-left: 15px;
   width: 30%;
    padding-top: 1px;
    height: 40px;
    border-radius: 15px;
    background-color: white;
  }

  .mark{

    display: inline-block;
    transform: rotate(45deg);
    height: 25px;
    width: 3%;
    margin-left: 5%;
    margin-top: -3px;
    border-bottom:8px solid #FFC200;
    border-right:8px solid #FFC200;
    border-radius: 5px;
  }

  .dash1{
    display: inline-block;
    width: 3%;
    margin-left: 15px;
    margin-top: -3px;
    margin-bottom: 5px;
    border:5px solid #FFC200;
    border-radius: 4px;

  }
  .horiz{
    width: 90%;
    margin-right: 150px;
    margin-left: 20px;
    height: 1px;
    margin-top: 20px;
    border-color: #ffffff;
    }
    .form_body{
      margin-top: -35px;
    }
    .error_mssg{
      display: flex;
      justify-content: center;
      margin-top: 75px;
    }
  /* .mark{
    margin-top: 30px;
  }
  .dash{
    top: 90px;
  } */

 
  /* .form-label{
    height: 20px;
    left: 0%;
    right: 83.6%; */
    /* top: calc(50% - 20px/2 - 30px);
    font-family: Heebo;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #131313;
    margin-bottom: 10px; */
  /* } */

  /* .form_body{
   height: 692px;
   margin: 40px 40px;
  }
  
   .header{
    padding-top: 15px;
    height: 150px;
  
  }
  .divider{
    border-bottom: solid 1px #ECECEC;
    width: 445px;
    margin: 0px auto;
    margin-bottom: 20px;
    margin-top: -50px;
    height: 1px;
  }
  
  .secondDivElement > .mark{
    transform: rotate(45deg);
    height: 21px;
    width: 10px;
    border-bottom: 7px solid #FFC200;
    border-right: 7px solid #FFC200;
    top: 145px; 
    left: 498px;
    border-radius: 7px;
  }
  .firstDivElement{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
  }
  .firstDivElement > .mark{
    transform: rotate(45deg);
    height: 21px;
    width: 10px;
    border-bottom: 7px solid #FFC200;
    border-right: 7px solid #FFC200;
    top: 145px; 
    left: 498px;
    border-radius: 7px;
  }
  .firstDivElement > .dash{
    width: 23px;
    height: 8px;
    left: 541.75px;
    top: 153.71px;
    background: #FFC200;
    margin: 15px 10px;
    border-radius: 20px;
  }
  .secondDivElement {
    display: flex;
    flex-direction: row;
    margin: -10px 30px;
  }
  .secondDivElement > .mark_dash{
    width: 23px;
    height: 8px;
    left: 541.75px;
    top: 153.71px;
    background: #FFC200;
    margin: 15px 10px;
    border-radius: 20px;
  }
  .firstDivElement > .dash{
    width: 23px;
    height: 8px;
    left: 541.75px;
    top: 153.71px;
    background: #FFC200;
    margin: 15px 10px;
    border-radius: 20px;
  }
  
  .error_mssg{
    margin-top: 0;
    color: red;
  }
  input{
    left: 0%;
    right: 0%;
    top: 37.5%;
    bottom: 0%;
    background: #EAEAEA;
    height: 30px;
    border: none;
    border-radius: 5px;
  }
  .form_body > button{
    background: #CEF9C6;
    border-radius: 25px;
    width: 420px;
    height: 40px;
    font-family: Heebo;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #1D201C;
    border: none;
    outline: lightskyblue;
    transition: all 2s linear;
    margin-top: -15px;
  }
  .form_body > button:hover,
  .footer > button:focus{
    background: #FFC200;
  }
  .footer > button{
    margin-top: 50px;
    height: 40px;
    margin-left: 300px;
    width: 200px;
    background: #CEF9C6;
    border-radius: 25px;
    border: none;
    font-family: Heebo;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #1D201C;
    transition: all 1s linear;
  }
  .footer > button:hover,
  .footer > button:focus{
    background: #FFC200;
  }
  @media (max-width: 900px) {
    .container{
      max-width: 400px;
      left: 100px;
      position: relative;
      top: 20px;
      margin: 0 auto;
      text-align: center;
    }
    input{
      left: 0%;
      right: 0%;
      top: 37.5%;
      bottom: 0%;
      max-width: 320px;
      background: #EAEAEA;
      max-height: 30px;
      border: none;
      border-radius: 5px;
    }
    .form_body > button{
      max-width: 320px;
    }
    .footer > button{
      width: 200px;
      margin-left: 100px;
    } 
  }
  .verify{
    padding-top: 100px;
    text-align: center;
    color: rgb(36, 39, 39);
  }
 
   @media (max-width: 280px){
      .container{
        max-width: 400px;
        left: 0px;
        position: relative;
        top: 20px;
        margin: 0 auto;
        min-height: 700px;
        text-align: center;
        margin-right: 30px;
        background-color: red;
      }
      .form_body > button{
        margin-top: 5px;
        max-width: 310px;
      }
      .footer > button{
        max-width: 150px;
        margin-left: 70px;
        margin-top: 15px;
      }
    }
     */